*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Flex", serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
    width: 800px;
    margin:50px auto;

}
.title {
    font-weight: 600;
}
.container-items {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.card {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.card__img {
    width: 250px;
    
}
.card-info {
    margin-right: 25%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__title {
    font-weight: 600;
}
.textile {
    color:#747474;
}
.wood {
    color:#747474;
}
.quantity {
    color:#747474;
}
.card__price {
    width: 90px;
    display: flex;
    justify-content: space-between;
}
.price {
    font-weight: 600;
}
.money {
    font-weight: 600;
}
.container-price {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: #ffffff;
}

.total{
    font-weight: 600;
    font-size: larger;
}
.final-price {

    font-weight: 600;
}
 .red {
    color: #FF6347;
 }
 .background {
    background-color: #FF6347;
 }